<%- if controller_name != 'sessions' %>
  <div class="text-center text-muted text-grey-dark">
    <h5><%= t('interface.registration.message.remember_password') %> <%= link_to "Login", new_session_path(resource_name) %></h5><br />
    <%= t('interface.help') %> <%= mail_to('admin@support.com') %><br />
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations'  && controller_name != 'passwords' %>
  <div class="text-center text-muted text-grey-dark">
    <%= t('interface.nav_bar.message') %> <%= link_to "Sign up", join_path %><br /><br />
    <%= t('interface.help') %> <%= mail_to('admin@support.com') %><br />
  </div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to t('interface.registration.message.locked'), new_unlock_path(resource_name) %><br />
<% end %>
