<!-- Work experience area -->
<div class="d-flex">
  <div class="d-flex flex-sm-row flex-column">
    <div class="ml-sm-3 mt-1 align-self-sm-center mt-sm-0">
      <div class="mb-4">
        <div class="h5">
          Work Experience
        </div>
        <% if profile.profile_experiences.present? %>
          <% profile.profile_experiences.order(current_job: :desc, end_date: :desc).each do |work_exp| %>
            <div class="d-flex align-items-center justify-content-between mb-3">
              <div class="w-100">
                <div class="row">
                  <div class="col mb-1 text text-wrap text-break"><%= work_exp.job_title %></div>
                </div>
                <div class="row bp-text-sm">
                  <div class="col-md text-wrap text-break"><%= work_exp.company %>, <%= work_exp.location %></div>
                  <div class="col-md">
                    <%= work_exp.start_date&.strftime("%b %Y") %>-<%= work_exp.current_job.present? ? "Present" : work_exp.end_date&.strftime("%b %Y") %>
                  </div>
                </div>
              </div>
              <%= render 'edit_work_experience', { profile_experience: work_exp, profile: profile } %>
              <button class="btn btn-link" type="button" data-toggle="modal" data-target="#editWorkExperienceModal-<%= work_exp.id %>"><i class="fas fa-pencil-alt" style="font-size: 24px"></i></button>
            </div>
          <% end %>
        <% end %>
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#addWorkExperienceModal"><i class="fas fa-plus mr-2"></i>Add Experience</button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/add_work_experience' %>
