<!--Add Education Modal-->
<div class="modal fade" id="addEducationModal" tabindex="-1" role="dialog" aria-labelledby="addEducationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalLabel">Add Education</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for :profile_education, url: wizard_path, method: :put do |f| %>
        <div class="modal-body pt-0">
          <div class="form-group">
            <label for="institutionInput" class="h5">Institution</label>
            <%= f.text_field :institution, class: "form-control", id: "institutionInput", placeholder: "Enter the school you attended" %>
          </div>
          <div class="form-group">
            <label for="degreeSelect" class="h5">Degree</label>
            <%= f.select :degree,
                         options_for_select(ProfileEducation.degrees.keys),
                         {}, class: 'form-control selectpicker',
                         id: 'degreeSelect', required: true, 'data-style': "bp-btn-select",
                         title: "Please make a selection" %>
          </div>
          <div class="form-group">
            <label for="courseInput" class="h5">Course of Study</label>
            <%= f.text_field :course_of_study, class: "form-control", id: "courseInput", placeholder: "Enter your degree program" %>
          </div>
          <div class="form-group">
            <label for="graduationYear" class="h5">Graduation Year</label>
            <div class="row mb-2 collapse show" id="graduationDateToggle">
              <div class="col">
                <%= f.select :graduation_year,
                             options_for_select(ProfileEducation::AVAILABLE_YEARS),
                             {}, class: 'form-control selectpicker',
                             id: 'graduationYear', 'data-style': "bp-btn-select", title: "Year" %>
            </div>
            <div class="col"></div>
          </div>
          <div class="custom-control custom-checkbox">
            <%= f.check_box :currently_studying, class: "custom-control-input", id: "currentlyStudying", type: "button", 'data-bs-toggle': "collapse", 'data-target': "#graduationDateToggle", 'aria-expanded': "false", 'aria-controls': "graduationDateToggle" %>
            <label class="custom-control-label" for="currentlyStudying">Currently Studying</label>
          </div>
        </div>
        <div class="form-group mb-0">
          <label for="educationDescriptionTextarea" class="h5">Description</label>
          <span class="text-dark"> (optional) </span>
          <%= f.text_area :description, class: "form-control", id: "educationDescriptionTextarea", placeholder: "Enter a brief description", rows: 3 %>
        </div>
      </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
