<!--Add Family Modal-->
<div class="modal fade" id="addFamilyModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalLabel">Add Family</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_for :family, url: wizard_path, method: :put do |f| %>
        <div class="modal-body pt-0">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="degreeOfKinshipInput" class="h5"><%= I18n.t(:degree_of_kinship) %></label>
                <%= f.text_field :degree_of_kinship, class: "form-control", id: "degreeOfKinshipInput", placeholder: I18n.t(:user_first_name) %>
              </div>
            </div>

            <div class="row ">
              <div class="col">
                <label for="firstNameInput" class="h5"><%= I18n.t(:user_first_name) %></label>
                <%= f.text_field :f_first_name, class: "form-control", id: "firstNameInput", placeholder: I18n.t(:user_first_name) %>
              </div>
              <div class="col">
                <label for="secondNameInput" class="h5"><%= I18n.t(:user_second_name) %></label>
                <%= f.text_field :f_second_name, class: "form-control", id: "secondNameInput", placeholder: I18n.t(:user_second_name) %>
              </div>
              <div class="col">
                <label for="lastNameInput" class="h5"><%= I18n.t(:user_last_name) %></label>
                <%= f.text_field :f_last_name, class: "form-control", id: "lastNameInput", placeholder: I18n.t(:user_last_name) %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="birthdayInput" class="h5"><%= I18n.t(:birthday) %></label>
                <%= f.date_field :f_birthday, class: "form-control", id: "birthdayInput", placeholder: I18n.t(:birthday) %>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="placeOfWorkInput" class="h5"><%= I18n.t(:place_of_work) %></label>
                <%= f.text_field :place_of_work, class: "form-control", id: "placeOfWorkInput", placeholder: I18n.t(:place_of_work) %>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-link px-0 text-dark" data-dismiss="modal">Cancel</button>
            <%= f.submit 'Save', class: 'btn btn-primary' %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
