<!--Edit License or Certification Modal-->
<div class="modal fade" id="editLicenseCertificationModall-<%= profile_certification.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep1Label">Edit Licence or Certification</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for :profile_certification, url: wizard_path, method: :put do |f| %>
        <div class="modal-body pt-0">
          <label for="exampleFormControlMultiSelect" class="h5 mt-3">
            Licence or Certification
          </label>
          <div id="descriptionCertification" class="collapse multi-collapse <%= profile_certification.certification.custom? ? '' : 'show' %>">
            <div class="form-group mb-2">
              <%= f.select :certification_id,
                           options_for_select(@certifications, [profile_certification.description, profile_certification.certification_id]),
                           {}, class: 'form-control selectpicker', id: "descriptionCertification-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Select an option..." %>
            </div>
            <div class="error_description text-danger mt-1"></div>
          </div>
          <div id="customDescriptionCertification" class="collapse multi-collapse <%= profile_certification.certification.custom? ? 'show' : '' %>">
            <div class="form-group mb-2">
              <%= f.text_field :description, class: "form-control", id: "customDescriptionCertificate-#{profile_certification.id}", placeholder: "Custom License Entry", value: profile_certification.description %>
            </div>
            <div class="error_custom text-danger mt-1"></div>
          </div>

          <div class="custom-control custom-checkbox">
            <%= f.check_box :custom,
                            class: "custom-control-input #{profile_certification.certification.custom? ? 'show' : ''}",
                            id: "editCertificationCustom-#{profile_certification&.id}", type: "button",
                            'data-bs-toggle': "collapse",
                            'data-bs-target': ".multi-collapse",
                            'aria-expanded': "false",
                            'aria-controls': "descriptionCertification customDescriptionCertification",
                            checked: "#{profile_certification.certification.custom? ? 'checked' : 'false'}" %>
            <label class="custom-control-label" for="editCertificationCustom-<%=profile_certification.id %>">Create a custom entry</label>
          </div>

          <div class="form-group">
            <label for="earnedMonth" class="h5 mt-3">Date Earned</label>
            <div class="row mb-3">
              <div class="col">
                <%= f.select :earned_month,
                             options_for_select(select_months_array, profile_certification&.earned&.month),
                             {}, class: 'form-control selectpicker',
                             id: "earnedMonth-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Month" %>
                <div class="error_month text-danger mt-1"></div>
              </div>
              <div class="col">
                <%= f.select :earned_year,
                             options_for_select(ProfileCertification::AVAILABLE_YEARS, profile_certification&.earned&.year),
                             {}, class: 'form-control selectpicker',
                             id: "earnedYear-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Year" %>
                <div class="error_year text-danger mt-1"></div>
              </div>
            </div>
            <%= f.hidden_field :id, value: profile_certification.id %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Delete', class: "btn btn-outline-danger mr-2 d-none" %>
          <%= f.submit 'Save Changes', class: "btn btn-primary submitCertification#{profile_certification&.id}" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'shared/certification_validations', locals: { profile: @profile, profile_certification: profile_certification } %>

<script>
  $('#editSelectCertification-' + <%= profile_certification.id %>).on('click', () => {
    $('#customDescriptionCertificate-' + <%= profile_certification.id %>).val('');
  })
</script>
