<!--Edit License or Certification Modal-->
<div class="modal fade" id="editLicenseCertificationModall-<%= profile_certification.id %>" tabindex="-1" role="dialog" aria-labelledby="modelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="postJobStep1Label"><%= t('interface.steps.certification.form.edit_title') %></h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <%= form_for :profile_certification, url: wizard_path, method: :put do |f| %>
        <%= render partial: 'forms/form_certifications', locals: { profile: @profile,
                                                                    profile_certification: profile_certification, f: f} %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'shared/certification_validations', locals: { profile: @profile, profile_certification: profile_certification } %>

<script>
  $('#editSelectCertification-' + <%= profile_certification.id %>).on('click', () => {
    $('#customDescriptionCertificate-' + <%= profile_certification.id %>).val('');
  })
</script>
