<div class="row justify-content-center log-in-container p-3 p-sm-0">

  <div class="card col-md-5 shadow-sm align-items-center">
    <div class="h1 mt-4 text-secondary text-center"><%= t('interface.registration.reset_password.reset_password') %></div>
    <div class="col-md-10 px-4 py-4">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render 'devise/shared/error_messages' %>
        <h6 class="text-muted text-center mb-3">
          <%= t('interface.registration.reset_password.message.l1') %>
          <%= t('interface.registration.reset_password.message.l2') %>
        </h6>
        <div class="field">
          <%= f.label t('interface.placeholder.email'), class: 'text-primary text-left' %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control center mb-5', placeholder: t('interface.registration.reset_password.placeholder.email') %>
        </div>

        <div class="actions text-center">
          <%= f.submit t('interface.registration.reset_password.send_reset'), class: 'form-control-lg btn btn-outline-secondary col-md-12'%>
        </div>
      <% end %>
    </div>
    <div class="bg-white card-footer text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
