<div class="d-flex">
  <div class="d-flex flex-sm-row flex-column">
    <% if profile.avatar.attached? %>
      <div class="text-light avatar-image" style="line-height: 0;">
        <%= image_tag profile.avatar, class: 'rounded-circle', width: '80px', height: '80px' %>
      </div>
    <% else %>
      <div class="text-light avatar-image" style="font-size: 80px; line-height: 0;">
        <i class="fas fa-user-circle"></i>
      </div>
    <% end %>
    <div class="ml-sm-3 mt-1 align-self-sm-center mt-sm-0">
      <h2 class="mb-1"><%= profile.full_name %></h2>
      <div class="bp-text-sm">
        <%= profile.professional_title %><br>
        <%= profile.location %>
      </div>
    </div>
  </div>
  <% if editable %>
    <div class="d-flex-col ml-auto">
      <button class="btn btn-link shadow-none p-0 align-self-start ml-auto" type="button"  data-toggle="modal" data-target="#editProfileModal-<%= profile.id %>"><i class="fas fa-edit text-primary"></i></button>
    </div>
    <%= render 'shared/edit_basic_info', profile: profile, redirect_reference: '' %>
  <% end %>
</div>
