<div class="modal fade" id="editWorkExperienceModal-<%= profile_experience.id %>" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalLabel"><%= t('interface.steps.work.form.edit_title') %></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <%= form_for :profile_experience, url: change_work_experience_path do |f| %>
        <%= render partial: 'forms/form_work_experience', locals: { profile_experience: profile_experience, f: f,
                                                                                modal_id: profile_experience.id,
                                                                                profile: profile } %>
      <% end %>
    </div>
  </div>
</div>
<%= render partial: 'profile_steps/date_validation' %>
