<div class="modal-body pt-0">

  <div class="form-group">
    <label for="companyInput" class="h5">Company</label>
    <%= f.text_field :company, class: "form-control mb-1", id: "companyInput#{modal_id}", placeholder: "Enter the company name", required: true, value: profile_experience&.company %>
    <div class="error_message_company<%= modal_id %> text-danger"></div>
  </div>

  <div class="form-group">
    <label for="jobTitleInput" class="h5">Job Title</label>
    <%= f.text_field :job_title, class: "form-control mb-1", id: "jobTitleInput#{modal_id}", placeholder: "Enter your job title", required: true, value: profile_experience&.job_title %>
    <div class="error_message_job_title<%= modal_id %> text-danger"></div>
  </div>

  <div class="form-group">
    <label for="experienceLocationInput<%= modal_id %>" class="h5">Location</label>
    <%= f.text_field :location, class: "form-control", id: "experienceLocationInput#{modal_id}", placeholder: "e.g. San Francisco, CA", required: true, value: profile_experience&.location %>
  </div>
  <div class="error-location text-danger mb-2"></div>
  <div class="form-group">
    <div class="row mb-3">
      <div class="col-12 col-md-6 startDate<%= modal_id %>">
        <label for="startMonth" class="h5">Start Date</label>
        <div class="row pb-1">
          <div class="col" style="padding-right: 5px;">
            <%= f.select :start_month,
                         options_for_select(
                           select_months_array,
                           profile_experience&.start_date&.month),
                         {}, class: 'form-control form-select',
                         id: "startMonth-#{modal_id}",
                         'data-style': "bp-btn-select",
                         title: "Month" %>
          </div>
          <div class="col" style="padding-left: 5px;">
            <%= f.select :start_year,
                         options_for_select(ProfileExperience::AVAILABLE_YEARS,
                                            profile_experience&.start_date&.year),
                         {}, class: 'form-control form-select',
                         id: "startYear-#{modal_id}",
                         'data-style': "bp-btn-select",
                         title: "Year" %>
          </div>
        </div>
        <div class="error_message_start_date<%= modal_id %> text-danger"></div>
      </div>
      <div class="col-12 mt-3 col-md-6 mt-md-0 endDate<%= modal_id %> <%= profile_experience&.current_job ? 'd-none' : '' %>">
        <label for="endMonth-<%= modal_id %>" class="h5">End Date</label>
        <div class="row pb-1" id="endDateToggle-<%= profile_experience&.id %>">
          <div class="col" style="padding-right: 5px;">
            <%= f.select :end_month,
                         options_for_select(
                           select_months_array,
                           profile_experience&.end_date&.month),
                         {}, class: 'form-control form-select',
                         id: "endMonth-#{modal_id}",
                         'data-style': "bp-btn-select", title: "Month" %>
          </div>
          <div class="col" style="padding-left: 5px;">
            <%= f.select :end_year,
                         options_for_select(ProfileExperience::AVAILABLE_YEARS,
                                            profile_experience&.end_date&.year),
                         {}, class: 'form-control form-select',
                         id: "endYear-#{modal_id}",
                         'data-style': "bp-btn-select", title: "Year" %>
          </div>
        </div>
        <div class="error_message_end_date<%= modal_id %> text-danger"></div>
      </div>
    </div>
    <div class="custom-control custom-checkbox">
      <%= f.check_box :current_job,
                      class: "custom-control-input my-current-job-#{modal_id}",
                      id: "currentJob-#{profile_experience&.id}",
                      type: "button",
                      'aria-expanded': "false",
                      'aria-controls': "endDateToggle-#{profile_experience&.id}",
                      checked: "#{profile_experience&.current_job ? 'checked' : 'false'}",
                      data: { id: modal_id } %>
      <label class="custom-control-label" for="currentJob-<%= profile_experience&.id %>">This is
        my current job</label>
    </div>
  </div>

  <div class="form-group mb-0">
    <label for="jobDescriptionTextarea<%= modal_id %>" class="h5">Description</label>
    <%= f.text_area :description, class: "form-control mb-1", id: "jobDescriptionTextarea#{modal_id}", placeholder: "Enter your job description", rows: 3, value: profile_experience&.description, maxlength: "2000" %>
    <div class="error_message_job_description<%= modal_id %> text-danger"></div>
  </div>
  <%= f.hidden_field :id, value: profile_experience&.id %>
</div>
<% if profile_experience&.id.present? %>
  <div class="modal-footer">
    <%= f.submit 'Save Changes', id: "submitExperienceWithLocationCheck#{modal_id}", class: "btn btn-primary save-experience-#{modal_id}" %>
    <%= f.submit 'Delete', class: "btn btn-outline-danger mr-2 d-none" %>
  </div>
<% else %>
  <div class="d-flex justify-content-end m-3">
    <%= f.submit 'Save', id: "submitExperienceWithLocationCheck#{modal_id}", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render partial: 'shared/location_check', locals: { controller_name: 'work_experience',
                                                      experience_modal_id: modal_id } %>
<script>
    <% if profile && profile.profile_experiences&.count > 1 %>
      $('.modal-footer').addClass('justify-content-between flex-row-reverse');
      $('.btn-outline-danger').removeClass('d-none');
    <% end %>

    $(document).on('turbolinks:load', function () {
      $('#startYear-<%= modal_id %>').selectpicker('refresh');
      $('#startMonth-<%= modal_id %>').selectpicker('refresh');
      $('#endYear-<%= modal_id %>').selectpicker('refresh');
      $('#endMonth-<%= modal_id %>').selectpicker('refresh');

      function toggleEndDate(e) {
        e.preventDefault();

        var currentObjectId = $(e.target).data('id');

        if (currentObjectId === undefined) {
          currentObjectId = '';
        };

        const currentObjectState = $(e.target).is(':checked');
        const currentEndYear = $('#endYear-' + currentObjectId);
        const currentEndMonth = $('#endMonth-' + currentObjectId);

        if (currentObjectState) {
          $('.endDate<%= modal_id %>').addClass('d-none');
          currentEndYear.val('default');
          currentEndMonth.val('default');
          currentEndYear.selectpicker('refresh');
          currentEndMonth.selectpicker('refresh');
        } else {
          currentEndYear.selectpicker('refresh');
          currentEndMonth.selectpicker('refresh');
          $('.endDate<%= modal_id %>').removeClass('d-none');
        }
      };

      $('.my-current-job-<%= modal_id %>').on('change', (e) => {
        toggleEndDate(e)
      });
    })
</script>
