<div class="modal-body pt-0">
  <div class="form-group">
    <label for="firstNameInput" class="h5"><%= I18n.t('interface.steps.language.form.name') %></label>
    <%= f.text_field :lang_know, class: "form-control", id: "langKnowInput",
                     placeholder: t('interface.steps.language.placeholder.name'),
                     value: language&.lang_know %>
  </div>
  <div class="form-group">
    <label for="DegreeSelect" class="h5"><%= t('interface.steps.language.form.level') %></label>
    <%= f.select :language_level_id,
                 options_for_select(@language_levels, [language&.lang_know, language&.language_level_id]),
                 {}, class: 'form-control selectpicker',
                 id: "descriptionLanguage-#{language&.id}",
                 'data-style': "bp-btn-select",
                 title: I18n.t('interface.select_an_option') %>
  </div>
  <%= f.hidden_field :id, value: language&.id %>
</div>
<% if language&.id.present? %>
  <div class="modal-footer">
    <%= f.submit I18n.t('button.save_changes'), class: "btn btn-primary" %>
    <%= f.submit I18n.t('button.delete'), class: "btn btn-outline-danger mr-2 d-none" %>
  </div>
<% else %>
  <div class="d-flex justify-content-end m-3">
    <%= f.submit I18n.t('button.save'), class: "btn btn-primary" %>
  </div>
<% end %>
