<div class="modal-body pt-0 pb-0">
  <label for="exampleFormControlMultiSelect" class="h5">
    Licence or Certification
  </label>
  <div id="descriptionCertification" class="collapse multi-collapse <%= profile_certification&.certification&.custom? ? '' : 'show' %>">
    <div class="form-group mb-2 descriptionCertification-<%= profile_certification&.id %>">
      <%= f.select :certification_id,
                   options_for_select(@certifications, [profile_certification&.description, profile_certification&.certification_id]),
                   {}, class: 'form-control selectpicker', id: "descriptionCertification-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Select an option..." %>
      <div class="error_description text-danger mt-1"></div>
    </div>
  </div>
  <div id="customDescriptionCertification" class="collapse multi-collapse <%= profile_certification&.certification&.custom? ? 'show' : '' %>">
    <div class="form-group mb-2">
      <%= f.text_field :description,
                       class: "form-control",
                       id: "customDescriptionCertificate-#{profile_certification&.id}",
                       placeholder: "Custom License Entry",
                       value: profile_certification&.description %>
      <div class="error_custom text-danger mt-1"></div>
    </div>
  </div>

  <div class="custom-control custom-checkbox mb-3">
    <%= f.check_box :custom,
                    class: "custom-control-input #{profile_certification&.certification&.custom? ? 'show' : ''}",
                    id: "editCertificationCustom-#{profile_certification&.id}", type: "button",
                    'data-toggle': "collapse",
                    'data-target': ".multi-collapse",
                    'aria-expanded': "false",
                    'aria-controls': "descriptionCertification customDescriptionCertification",
                    checked: "#{profile_certification&.certification&.custom? ? 'checked' : 'false'}" %>
    <label class="custom-control-label" for="editCertificationCustom-<%=profile_certification&.id %>">Create a custom entry</label>
  </div>

  <div class="form-group">
    <label for="earnedMonth-<%= profile_certification&.id %>" class="h5">Date Earned</label>
    <div class="row">
      <div class="col earnedMonth-<%= profile_certification&.id %>">
        <%= f.select :earned_month,
                     options_for_select(select_months_array, profile_certification&.earned&.month),
                     {}, class: 'form-control form-select',
                     id: "earnedMonth-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Month" %>
        <div class="error_month text-danger mt-1"></div>
      </div>
      <div class="col earnedYear-<%= profile_certification&.id %>">
        <%= f.select :earned_year,
                     options_for_select(ProfileCertification::AVAILABLE_YEARS, profile_certification&.earned&.year),
                     {}, class: 'form-control form-select',
                     id: "earnedYear-#{profile_certification&.id}", 'data-style': "bp-btn-select", title: "Year" %>
        <div class="error_year text-danger mt-1"></div>
      </div>
    </div>
    <%= f.hidden_field :id, value: profile_certification&.id %>
  </div>
</div>
<% if profile_certification&.id&.present? %>
  <div class="modal-footer">
    <%= f.submit 'Delete', class: "btn btn-outline-danger mr-2 d-none" %>
    <%= f.submit 'Save Changes', class: "btn btn-primary float-right submitCertification#{profile_certification&.id}" %>
  </div>
<% else %>
  <div class="d-flex justify-content-end m-3 mt-4">
    <%= f.submit 'Save Changes', class: 'btn btn-primary submitCertification' %>
  </div>
<% end %>
<%= render partial: 'shared/certification_validations', locals: { profile: @profile, profile_certification: profile_certification } %>
