<%= render 'nav_bar/link_to_login' %>

<div class="log-in-container p-3 p-sm-0">
  <div class="bp-card m-auto text-center" style="max-width:500px">
    <div class="h2 mb-3"><%= I18n.t :hello %></div>
    <div>
      <%= form_for(:user, url: join_signup_path) do |f| %>
        <%= render 'devise/shared/error_messages' %>
        <div class="field mb-3 text-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: I18n.t('placeholder.email'), id: "user_email"%>
        </div>

        <div class="actions">
          <%= f.submit I18n.t('interface.sign_up_with_email'), class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <div class="bp-or-border my-3"><span>or</span></div>

      <%= google_sign_in_button(image_pack_tag('media/images/icons8-google-48.png', size: '24x24', class: 'mr-2') + I18n.t('interface.sign_up_with_gemail'), proceed_to: user_google_omniauth_callback_path(src: 'registrations#new'), class: "btn btn-outline-primary btn-block d-flex justify-content-center mb-3") %>

    </div>
    <div class="text-muted">
      <%= "#{I18n.t('interface.help')} #{mail_to('support@google.com')}" %>
    </div>
  </div>
</div>

<% if @email %>
  <script>
      $(function() {
          $('#user_email').val('<%= @email %>');
      });
  </script>
<% end %>
